.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

.formRow {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.formItem {
  width: (calc(50% - 20px));
}

.button {
  min-width: 300px;
  width: 40%;
  margin-top: 20px;
}

