.form {
  display: flex;
  flex-direction: column;

  gap: 20px;
  width: 100%;

  @include media-down($break-xxl) {
    max-width: 1000px;
  }

  .title {
    display: inline-block;
    background: $color-main;
    padding: 5px 15px 0;
    margin-bottom: 20px;
  }

  .titleError {
    display: inline-block;
    background: red;
    padding: 5px 15px 0;
    margin-bottom: 20px;
  }
}

.formRow {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.formItem {
  width: (calc(50% - 20px));

  @include media-down($break-sm) {
    width: 100%;
  }
}

.button {
  width: 400px;
  min-width: 300px;
  margin-top: 20px;

  @include media-down($break-xl) {
    width: 300px;
  }

  @include media-down($break-sm) {
    width: 100%;
  }
}

.header {
  line-height: 30px;
  @include media-down($break-sm) {
    display: none;
  }
}