.page {
  padding: 120px 15rem 30px;
  
  @include media-down($break-xxl) {
    padding: 120px 10rem 30px;
  }

  @include media-down($break-xl) {
    padding: 100px 7rem 30px;
  }

  @include media-down($break-lg) {
    padding: 100px 2rem 30px;
  }

  @include media-down($break-sm) {
    padding: 100px 20px 30px;
  }
  flex: 1;
}

.title {
  display: inline-block;
  background: $color-main;
  padding: 5px 15px 0;
  margin-bottom: 20px;
}
