.image {
  width: 101%;
  height: 101%;
  top: 50%;
  right: 50%;
  overflow: hidden;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform 0.6s ease;
  }
}

.content {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  z-index: 1;
  text-shadow: 0 0 5px #000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  position: relative;

  &:hover img {
    transform: scale(0.5);
  }

  @include media-down($break-md) {
    padding: 20px;
  }
}

.wrapper {
  &:hover img {
    transform: scale(1.05);
  }
}

.date {
  display: flex;
  align-items: center;
  gap: 5px;
  display: flex;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  @include media-down($break-xxl) {
    font-size: 24px;
    line-height: 24px;
  }

  @include media-down($break-md) {
    font-size: 18px;
    line-height: 22px;
  }
}

.dateDay {
  position: relative;
  top: 5px;
  font-size: 80px;
  font-weight: bold;
  @include media-down($break-xxl) {
    font-size: 60px;
  }

  @include media-down($break-md) {
    font-size: 44px;
  }
}

.text {
  font-size: 40px;
  font-weight: bold;
  @include media-down($break-xxl) {
    @include typographyHeading(xxl, bold);
  }

  @include media-down($break-md) {
    font-size: 18px;
  }
}

.icon {
  width: 50px;
  height: 50px;
  color: $color-main;
  margin-top: 20px;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10;

  @include media-down($break-xxl) {
    width: 30px;
    height: 30px;
  }
}
