.page {
  background: $color-gray;
  padding: 30px 15rem;
  
  @include media-down($break-xxl) {
    padding: 30px 10rem;
  }

  @include media-down($break-xl) {
    padding: 30px 7rem;
  }

  @include media-down($break-lg) {
    padding: 30px 2rem;
  }

  @include media-down($break-sm) {
    padding: 30px 20px;
  }
  flex: 1;
  z-index: 1;
}

.title {
  display: inline-block;
  background: $color-main;
  padding: 5px 15px 0;
  margin-bottom: 20px;
}

.main {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: bold;
  @include typographyHeading(xl, bold);

  @include media-down($break-xxl) {
    @include typography(xxl, bold);
  }

  @include media-down($break-xl) {
    @include typography(xl, bold);
  }
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  min-width: 700px;

  @include media-down($break-xl) {
    gap: 50px;
  }

  @include media-down($break-lg) {
    min-width: 320px;
  }

  @include media-down($break-sm) {
    flex-direction: column;
  }
}

.listTitle {
  color: #B8B8B8;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    display: inline-block;
  }
}

.item:hover {
  color: $color-main;
}

.image {
  position: absolute;
  right: 25%;
  top: 330px;
  z-index: -1;
  scale: 2.5;

  @include media-down($break-sm) {
    display: none;
  }
}