.wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden;
  max-width: 70%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    cursor: pointer;
    background-color: $color-white;
    transition: all 0.3s;

    .label {
      font-weight: bold;
    }

    .toggleButton {
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
      transition: transform 0.3s;
      font-size: 32px;

      color: $color-main;
      border-radius: 50%;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .headerShow {
    background-color: $color-black;
    color: $color-white;
  }

  .content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: #fff;
    

    .innerContent {
      padding: 20px 40px;
    }
  }
}
