.wrapper {
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  overflow: hidden;
  width: 70%;
  min-width: 800px;

  @include media-down($break-md) {
    width: 100%;
    min-width: auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    cursor: pointer;
    background-color: $color-white;
    transition: all 0.3s;

    @include media-down($break-sm) {
      padding: 20px;
    }

    .label {
      font-weight: bold;
      font-size: 30px;
      @include media-down($break-xxl) {
        @include typography(xxl, bold);
        line-height: 24px;
      }
      letter-spacing: -2%;
    }

    .toggleButton {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      
      cursor: pointer;
      transition: transform 0.3s;
      color: $color-main;
      border-radius: 50%;
      transform-origin: center;

      &.open {
        transform: rotate(180deg);
      }

      .icon {
        min-width: 40px;
        min-height: 40px;
      }
    }
  }

  .headerShow {
    background-color: $color-black-light;
    color: $color-white;
  }

  .content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: #fff;
    line-height: 24px;

    .innerContent {
      padding: 20px 40px 30px;

      @include media-down($break-sm) {
        padding: 20px;
      }
    }
  }
}
