.uploadContainer {
  border: 2px dashed $color-gray-light;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 30px;
  width: 100%;
  height: calc(100% - 10px);
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  flex-direction: column;

  @include media-down($break-xl) {
    height: auto;
    gap: 1rem;
  }

  &:hover {
    border-color: $color-main;
  }

  @include media-down($break-sm) {
    flex-direction: column;
    gap: 1rem;
    height: auto;
  }
}

.uploadIcon {
  width: 60px;

  @include media-down($break-sm) {
    width: 40px;
  }
}

.uploadText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 16px;
  transition: all 0.3s;
}

.dragging {
  border-color: #6be8c2;
  background-color: rgba(107, 232, 194, 0.1);
}

.fileInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
}

.clearButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  background-color: #ff4d4f;
  padding: 10px 20px;
  min-width: 120px;
  margin-left: 20px;
}

.errorMessage {
  font-size: 16px;
  color: red;
}

.label {
  @include typography(xxl, bold);
}