

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/fonts/HELVETICANEUECYR-ROMAN.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/fonts/HELVETICANEUECYR-BOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include typographyHeading(xl);
  
  @include media-down($break-xxl) {
    @include typography(xl);
  }
}

body {
  // color: $color-secondary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


h1, h2 {
  @include typographyHeading(4xl, bold);

  @include media-down($break-xxl) {
    @include typographyHeading(xxxl, bold);
  }

  @include media-down($break-lg) {
    font-size: 35px;
    line-height: 1;
  }
}

h3, h4, h5 {
  @include typographyHeading(xxl, bold);

  @include media-down($break-lg) {
    @include typographyHeading(xl, bold)
  }
}

// h5 {
//   @include typographyHeading(lg, bold);
// }

// .MuiInputAdornment-root {
//   padding-left: 16px;
//   padding-bottom: 16px;
// }

// .MuiButtonBase-root {

// }

// .MuiTypography-root {
//   color: $color-main;
//   font-weight: bold;
// }

video::-webkit-media-controls {
  display: none;
}

body.body-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.amo-button-holder {
  z-index: 99999 !important;
}