.page {
  display: flex;
  flex: 1;
  z-index: 100;
  background-color: $color-white;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  z-index: 999;
  position: relative;

  @include media-down($break-lg) {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 0;
    justify-content: end;
    padding: 20px 20px 0;
  }
}

.text {
  width: 50%;

  @include media-down($break-lg) {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @include media-down($break-sm) {
    justify-content: start;
  }
}

.overlay {
  position: relative;
  bottom: 60px;

  @include media-down($break-lg) {
    bottom: 0;
  }

  div {
    height: 100px;

    @include media-down($break-xxl) {
      height: 70px;
    }
    @include media-down($break-lg) {
      height: 60px;
    }
    @include media-down($break-xs) {
      height: 45px;
    }
  }
  span {
    font-weight: bold;
    background: $color-main;
    color: $color-black;
    padding: 9px 9px 0;
    font-size: 90px;
    @include media-down($break-xxl) {
      font-size: 60px;
    }
    @include media-down($break-lg) {
      font-size: 50px;
    }

    @include media-down($break-xs) {
      font-size: 36px;
    }
  }
}

.formWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 30px;
  left: 20px;

  @include media-down($break-lg) {
    background-color: $color-main;
    width: 100vw;
    position: static;
    padding: 30px 20px;
  }
}

.formContainer {
  width: 70%;
  max-width: 800px;
  min-width: 450px;
  margin: 0 auto;

  @include media-down($break-xl) {
    width: 50%;
  }

  @include media-down($break-sm) {
    width: 100%;

    min-width: auto;
  }
}

.form {
  position: relative;
}

.rateInfo {
  margin-bottom: 10px;
  min-height: 65px;

  @include media-down($break-sm) {
    min-height: auto;
  }
}

.rateTitle {
  font-weight: bold;
  opacity: 40%;
  text-transform: uppercase;
  font-size: 28px;
  @include media-down($break-xxl) {
    font-size: 22px;
  }
  @include media-down($break-xl) {
    font-size: 18px;
  }
  @include media-down($break-md) {
    font-size: 12px;
  }
}

.rateText {
  font-weight: bold;
  font-size: 40px;
  @include media-down($break-xxl) {
    font-size: 28px;
  }
  @include media-down($break-xl) {
    font-size: 22px;
  }
}

.termsText {
  margin-top: 20px;

  font-size: 20px;
  @include media-down($break-xxl) {
    font-size: 14px;
  }
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @include media-down($break-md) {
    gap: 0.1rem;
  }
}

.formItem {
  flex: 1;
  display: flex;
  gap: 4px;

  @include media-down($break-sm) {
    gap: 2px;
  }

  @include media-down($break-md) {
    gap: 0;
  }
}

.button {
  margin-top: 1rem;
  width: 100%;
  button {
    background: $color-black;
    color: $color-white;
  }
}

.swap {
  text-align: center;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: -30px;
  top: 30px;

  .iconWrapper {
    background-color: #91E7CF;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      scale: 2;
    }

    @include media-down($break-sm) {
      background-color: #F2F4F6;
      transform: rotate(90deg);
      width: 40px;
      height: 40px;
      border-radius: 5px;

      .icon {
        scale: 1.5;
      }
    }
  }

  @include media-down($break-sm) {
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
    top: 28px;
    width: 40px;
    height: 40px;
  }

  &-disabled {
    cursor: not-allowed;
  }
}

.bgImage {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50vh;
  width: 50vw;
  overflow: hidden;

  @include media-down($break-lg) {
    width: 100vw;
    display: none;
  }

  video {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 50vh;
    opacity: 0;
    transform: scale(0.95);
    animation: fadeIn 1s ease-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  &-mobile {
    @include media-up($break-md) {
      display: none;
    }
  }
}

.bgColor {
  position: absolute;
  background-color: $color-main;
  min-width: 50%;
  height: 100vh;
  bottom: 0;
  right: 0;

  @include media-down($break-lg) {

    display: none;
  }
}

.balance {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: underline;
  }
}