.page {
  display: flex;
  flex: 1;
  z-index: 100;
  background-color: $color-white;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  z-index: 999;
}

.text {
  width: 50%;
}

.overlay {
  position: relative;
  bottom: 60px;

  @include media-down($break-xl) {
    height: 120px;
  }
  div {
    height: 100px;

    @include media-down($break-xxl) {
      height: 70px;
    }
    @include media-down($break-xl) {
      height: 50px;
    }
  }
  span {
    font-weight: bold;
    background: $color-main;
    color: $color-black;
    padding: 9px 9px 0;
    font-size: 90px;
    @include media-down($break-xxl) {
      font-size: 60px;
    }
    @include media-down($break-xl) {
      font-size: 40px;
    }
  }
}

.formWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 30px;
  left: 20px;
}

.formContainer {
  width: 70%;
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;

  @include media-down($break-xl) {
    width: 80%;
  }
}

.form {
  position: relative;
}

.rateInfo {
  margin-bottom: 20px;
  min-height: 65px;
}

.rateTitle {
  font-weight: bold;
  color: #468E7A;
  text-transform: uppercase;
  font-size: 28px;
  @include media-down($break-xxl) {
    font-size: 22px;
  }
  @include media-down($break-xl) {
    font-size: 18px;
  }
}

.rateText {
  font-weight: bold;
  font-size: 40px;
  @include media-down($break-xxl) {
    font-size: 28px;
  }
  @include media-down($break-xl) {
    font-size: 22px;
  }
}

.termsText {
  margin-top: 20px;

  font-size: 20px;
  @include media-down($break-xxl) {
    font-size: 14px;
  }
  @include media-down($break-xl) {
    font-size: 12px;
  }
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formItem {
  flex: 1;
  display: flex;
  gap: 4px;
}

.button {
  margin-top: 1rem;
  width: 100%;
  button {
    background: $color-black;
    color: $color-white;
  }
}

.swap {
  text-align: center;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: -30px;
  top: 30px;

  .iconWrapper {
    background-color: #91E7CF;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      scale: 2;
    }
  }

  &-disabled {
    cursor: not-allowed;
  }
}

.bgImage {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50vh;
  width: 50vw;
  overflow: hidden;

  video {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 50vh;
  }
}

.bgColor {
  position: absolute;
  background-color: $color-main;
  min-width: 50%;
  height: 100vh;
  bottom: 0;
  right: 0;
}

.balance {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: underline;
  }
}