.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
	@include typographyHeading(4xl, bold);
	text-align: center;

	@include media-down($break-sm) {
		@include typographyHeading(xxxl, bold);
	}
}

.captcha {
  margin: 0 auto;
}

.errorMessage, .successMessage {
	border-radius: 5px;
	@include typography(md, bold);
	padding: 25px 40px;
	font-size: 16px;
	font-weight: 550;
	line-height: 23px;
	letter-spacing: -0.02em;
	text-align: center;
	background-color: #34353A;
}

.errorMessage {
	color: rgb(230, 84, 84);
}

.successMessage {
	color: $color-main;
}

.text {
	text-align: center;
	@include media-down($break-sm) {
		font-size: 16px;
	}
}