.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
	@include typographyHeading(4xl, bold);
	text-align: center;
}

.captcha {
  margin: 0 auto;
}

.errorMessage, .successMessage {
	border-radius: 5px;
	padding: 20px;
	@include typography(md);
}

.errorMessage {
	background-color: rgb(245, 170, 170);
	color: rgb(85, 2, 2);
}

.successMessage {
	background-color: rgb(170, 245, 180);
	color: rgb(2, 85, 17);
}

.text {
	text-align: center;
}