.page {
  background: $color-gray;
  padding: 30px 15rem;
  
  @include media-down($break-xxl) {
    padding: 30px 10rem;
  }

  @include media-down($break-xl) {
    padding: 30px 7rem;
  }
  flex: 1;
}

.title {
  display: inline-block;
  background: $color-main;
  padding: 5px 15px 0;
  margin-bottom: 20px;
}

.mainNews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  margin: 0 0 30px;
}

.cardMain {
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  width: calc(50% - 30px);
  height: 400px;
  display: flex;
  overflow: hidden;
  align-items: stretch;
  z-index: 1;
  -webkit-box-align: end;
}

.otherNews {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.cardSecondary {
  position: relative;
  width: calc(25% - 30px);
  height: 230px;
  display: flex;
  overflow: hidden;
  -webkit-box-align: end;
}
