.page {
  background: $color-gray;
  padding: 120px 15rem 30px;
  
  @include media-down($break-xxl) {
    padding: 120px 10rem 30px;
  }

  @include media-down($break-xl) {
    padding: 100px 7rem 30px;
  }

  @include media-down($break-lg) {
    padding: 100px 2rem 30px;
  }

  @include media-down($break-sm) {
    padding: 100px 20px 30px;
  }
  flex: 1;
  z-index: 1;
}

.stepper {
  width: 80%;
  margin-bottom: 20px;

  @include media-down($break-lg) {
    width: 100%;
  }
}

.step {
  @include media-down($break-sm) {
    display: none;
  }
}

.formTitle {
  display: inline-block;
  background: $color-main;
  padding: 5px 15px 0;
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 40px;
}

.cardsWrapper {
  display: flex;
  gap: 40px;

  @include media-down($break-md) {
    flex-direction: column;
    gap: 20px;
  }
}

.details {
  max-width: 100%;
}

.card {
  width: calc(50%);
  background-color: $color-white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-down($break-lg) {
    width: 100%;
    padding: 20px;
  }
}

.cardTitle {
  font-weight: bold;
  font-size: 24px;

  @include media-down($break-sm) {
    font-size: 20px;
  }
}

.inputRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.timerWrapper {
  margin-top: 20px;
  border: 1px solid $color-gray-light;
  padding: 40px;
  display: flex;
  justify-content: space-between;

  .timer {
    font-size: 40px;
    font-weight: bold;
  }

  .timerInfo {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 50%;
  }

  .timerContainer {
    width: 50%;
  }

  .timerText {
    font-size: 18px;
  }

  @include media-down($break-sm) {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    .timerContainer, .timerInfo{
      width: 100%;
    }
    .timerContainer {
      text-align: center;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  .button {
    min-width: 400px;
  }

  .buttonCanc {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
  }

  @include media-down($break-sm) {
    flex-direction: column;
    gap: 40px;
    .button {
      width: 100%;
      min-width: auto;
    }
  }

}

.copy {
  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.copyWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.copiedMessage {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: #6BE8C2;
  color: #000;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 2s ease;

  @include media-down($break-sm) {
    left: -50px;
    top: -35px;
    transform: translateX(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.linear {
  width: 100%;
  margin: 40px auto 0;
}

.arrowIcon {
  width: 30px;
  height: 30px;
  color: $color-main;
}

.resultInfo {
  padding: 40px;
  background-color: $color-white;

  @include media-down($break-sm) {
    overflow-x: scroll;
    padding: 20px;
  }
}

.paymentResult {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;

  span {
    display: flex;
    align-items: center;
  }

  @include media-down($break-sm) {
    align-items: start;
    gap: 10px;
    font-size: 22px;
  }
}

.results {
  width: 50%;
  gap: 40px;

  order: 1;
  @include media-down($break-lg) {
    order: 2;
    width: 100%;
  }
}

.resultsWrapper {
  display: flex;
  justify-content: space-between;

  @include media-down($break-lg) {
    flex-direction: column;
  }
}

.resultIcon {
  margin: 0 10px;
}

.paymentDetails {
  border: 1px solid $color-gray-light;
  margin-top: 20px;
  padding: 40px;

  @include media-down($break-sm) {
    overflow-x: scroll;
    padding: 20px;
  }
}

.paymentDetailsWrapper {
  display: flex;

  gap: 50px;
  margin-top: 10px;

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.video {
  width: calc(50% - 40px);
  height: 100%;
  position: relative;
  order: 2;
  @include media-down($break-lg) {
    order: 1;
    width: 100%;
  }

  video {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 50vh;
    opacity: 0;
    transform: scale(0.95);
    animation: fadeIn 1s ease-out forwards;

    @include media-down($break-lg) {
      min-height: auto;
      max-height: 30vh;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.videoImage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  @include media-down($break-lg) {
    width: 200px;
  }
}

.resultButton {
  width: 50%;
  margin-top: 40px;
  min-width: 400px;

  @include media-down($break-sm) {
    width: 100%;
    min-width: auto;
  }
}

.modalResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .arrowIcon {
    margin: 0 10px;
  }
}

.modalResultRow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  flex-wrap: wrap;
  
  span {
    display: flex;
    align-items: center;
  }

  .cardTitle {
    margin-right: 10px;
  }

  .modalResultInput {
    background-color: #F2F4F7;
    padding: 10px;
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;

    @include media-down($break-sm) {
      max-width: 300px;
      overflow-x: scroll;
    }
  }

  .cardTitle {
    font-size: 22px;
    font-weight: normal;
  }
}

.modalResultWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-down($break-sm) {
    flex-direction: column;
    gap: 10px;

    .arrowIcon {
      transform: rotate(90deg);
    }
  }
}

.modalResultRows {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;

  .cardTitleId {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }
}

.details {
  display: flex;
  flex-direction: column;
}

.network {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;

  @include media-down($break-xs) {
    flex-direction: column;
    align-items: start;
  }
}