.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.captcha {
  margin: 0 auto;
}

.errorMessage {
	border-radius: 5px;
	padding: 20px;
	background-color: rgb(245, 170, 170);
	color: rgb(85, 2, 2);
	@include typography(md);
}

.successMessage {
	border-radius: 5px;
	padding: 20px;
	background-color: rgb(170, 245, 180);
	color: rgb(2, 85, 17);
	@include typography(md);
}

.adornment {
  color: $color-main !important;
  @include typography(lg);

	@include media-down($break-sm) {
		display: none !important;
	}
}

.forgotMobile {
	color: $color-main;
	display: flex;
	justify-content: end;
	@include typography(xl);

	@include media-up($break-sm) {
		display: none
	}
}