.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.errorMessage, .successMessage {
	border-radius: 5px;
	@include typography(md, bold);
	padding: 25px 40px;
	font-size: 16px;
	font-weight: 550;
	line-height: 23px;
	letter-spacing: -0.02em;
	text-align: center;
	background-color: #34353A;
}

.errorMessage {
	color: rgb(230, 84, 84);
}

.successMessage {
	color: $color-main;
}


.adornment {
  color: $color-main !important;
  @include typography(lg);

	@include media-down($break-sm) {
		display: none !important;
	}
}

.forgotMobile {
	color: $color-main;
	@include typography(xl);

	// @include media-up($break-sm) {
	// 	display: none
	// }
}