.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.errorMessage {
	border-radius: 5px;
	@include typography(md, bold);
	padding: 25px 40px;
	font-size: 16px;
	font-weight: 550;
	line-height: 23px;
	letter-spacing: -0.02em;
	text-align: center;
	background-color: #34353A;
	color: rgb(230, 84, 84);
}

.terms {

	&-item {
		font-size: 16px;
		color: $color-gray-dark;
		a {
			white-space: nowrap;
			color: #FFF;
		}
	}
}

.successMessage {
	text-align: center;
	button {
		margin-top: 40px;
	}

	img {
		width: 120px;
		margin-bottom: 40px;
	}

	.title {
		@include typographyHeading(4xl, bold);
		text-align: center;
	}

	h5 {
		margin-bottom: 20px;
	}
}

.resendedVerif {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	@include typographyHeading(sm, bold);
	gap: 20px;
	@include media-down($break-sm) {
		flex-direction: column;
		gap: 0;
	}
}

.resendedVerifBtn {


	&:hover {
		cursor: pointer;
	}
}