.page {
  background: $color-gray;
  flex: 1;

  padding: 120px 15rem 30px;
  
  @include media-down($break-xxl) {
    padding: 120px 10rem 30px;
  }

  @include media-down($break-xl) {
    padding: 100px 7rem 30px;
  }

  @include media-down($break-lg) {
    padding: 100px 2rem 30px;
  }

  @include media-down($break-sm) {
    padding: 100px 20px 30px;
  }

  position: relative;
  z-index: 1;
}

.title {
  display: inline-block;
  background: $color-main;
  padding: 5px 15px 0;
  margin-bottom: 20px;
}

.main {
  display: flex;
  gap: 4rem;

  @include media-down($break-xl) {
    gap: 2rem;
  }

  @include media-down($break-md) {
    flex-direction: column;
    gap: 1rem;
  }
}

.links {
  background-color: $color-black-light;
  color: $color-white;
  padding: 30px;

  align-items: center;
  justify-content: center;
  font-weight: bold;
  min-width: 400px;

  @include media-down($break-xxl) {
    min-width: 300px;
  }

  @include media-down($break-xl) {
    min-width: 300px;
  }

  @include media-down($break-lg) {
    min-width: 250px;
  }

  ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: column;

    @include media-down($break-md) {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      li {
        white-space: nowrap;
        min-width: auto;
        display: inline-flex;
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  @include media-down($break-md) {
    background: $color-main;
    width: 100vw;
    margin-left: -2rem;
  }

  @include media-down($break-sm) {
    background: $color-main;
    width: 100vw;
    margin-left: -20px;
    padding: 20px;

    li {
      display: inline-flex;
      width: auto;
    }
  }

  height: 100%;
}

.item {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  @include media-down($break-md) {
    color: $color-black;
  }

  &-selected {
    color: $color-main;
    @include media-down($break-md) {
      color: $color-white;
    }
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    svg {
      color: red;
    }

    @include media-down($break-md) {
      margin-right: 10px;
    }

    @include media-down($break-sm) {
      display: none;
    }
  }
}

.formWrapper {
  width: 75%;

  @include media-down($break-md) {
    width: 100%;
  }
}