.icon {
  width: 140px;
  color: $color-main;
}

.card {
  background-color: $color-white;
  padding: 30px;
  display: inline-flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  border-radius: 5px;
  margin: 20px 0 40px;

  @include media-down($break-sm) {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

.text {
  @include typographyHeading(xxxl, bold);

  @include media-down($break-sm) {
    @include typographyHeading(xxl, bold);
  }
}

.textBalance {
  @include media-down($break-xs) {
    max-width: 240px;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.textLabel {
  @include typography(xl);
  color: #7A7A7A;
}

.button {
  max-width: 400px;
  @include media-down($break-sm) {
    width: 100%;
    max-width: none;
  }
}