
.pagination {
  background-color: $color-white;
  display: inline-flex;
  gap: 15px;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  @include typographyHeading(lg, bold);

  button {
    display: flex;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .pagArrow {
    font-size: 22px;
  }

  .pagButton {
    padding: 7px 10px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagBtnActive {
    background-color: $color-main;
  }
}