.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  padding: 20px 40px;
  font-weight: bold;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.logo {
  height: 40px;
}

.navList {
  display: flex;
  gap: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main {
  display: flex;
  align-items: center;
  gap: 40px;
}

.login {
  // border-bottom: 2px solid $color-black;
  padding: 0 10px;
}

.language, .login {

  font-weight: bold;
  border-radius: 0;

  &:hover {
    background-color: inherit;
  }
}

.link, .language, .login {
  transition: all .3s;
  &:hover {
    color: $color-main;
    border-color: $color-main;
  }
}

.menu {
  background-color: red;
}

.menuItem {
  padding: 10px 30px;

}