.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  padding: 20px 40px;
  font-weight: bold;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);

  &-main {
    box-shadow: none;
    padding-top: 40px;

    .buttons {
      color: $color-black;
    }

    .main {
      gap: 80px;
    }
  }
}

.logo {
  scale: 0.7;
}

.navList {
  display: flex;
  gap: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 50px;
  z-index: 9999;
}

.main {
  display: flex;
  align-items: center;
  gap: 30px;
}

.login {
  border-bottom: 2px solid $color-black;
  padding: 0 10px;
  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;
  }
}

.language, .login {
  font-weight: bold;
  border-radius: 0;
  padding-bottom: 8px;
}

.link, .language, .login {
  transition: all .3s;
  &:hover {
    color: $color-main;
    border-color: $color-main;
    border-color: $color-main;
  }
}

.header-main {
  .language, .login {
    &:hover {
      color: $color-black;
      border-color: $color-black;
      border-color: $color-black;
    }
  }  
}

.menuItem {
  padding: 10px 25px;
  font-weight: bold;
}