.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}

.header-wrapper.hidden {
  transform: translateY(-100%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  padding: 20px 40px;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  &-main {
    box-shadow: none;
    padding-top: 40px;

    .buttons {
      color: $color-black;
    }

    .main {
      gap: 80px;

      @include media-down($break-xl) {
        gap: 40px;
      }
    }
  }

  @include media-down($break-sm) {
    padding: 20px;
  }
}

.logo {
  width: 140px;
  @include media-down($break-xxl) {

  }
  @include media-down($break-xl) {
    width: 100px;
  }
}

.nav {
  @include media-down($break-md) {
    display: none;
  }
}

.navList {
  display: flex;
  gap: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 9999;

  .profile-mobile {
    display: none;
  }

  .profile-mobile-selected {
    color: $color-main;
  }

  @include media-down($break-md) {
    .language, .profile {
      display: none;
    }

    .profile-mobile {
      display: flex;
    }
  }
}

// .buttonsMobile {
//   display: flex;
//   align-items: center;
//   gap: 30px;
//   z-index: 9999;

//   @include media-down($break-md) {
//     display: flex;

//     .login {
//       border: none;
//       padding: 0;
//     }
//   }

//   @include media-down($break-md) {
//     .language {
//       display: none;
//     }
//   }
// }

.main {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 99999;
}

.login {
  border-bottom: 2px solid $color-black;
  padding: 0 10px;
  display: flex;
  align-items: center;

  .iconDesc {
    margin-right: 10px;
  }
  &-hidden {
    @include media-down($break-md) {
      display: none;
    }
  }
}

.language, .login {
  font-weight: bold;
  border-radius: 0;
  // padding-bottom: 8px;
}

.link, .language, .login {
  transition: all .3s;
  &:hover {
    color: $color-main;
    border-color: $color-main;
    border-color: $color-main;
  }
}

.link-selected {
  color: $color-main;
}

.header-main {
  .language, .login {
    &:hover {
      color: $color-black;
      border-color: $color-black;
      border-color: $color-black;
    }
  }  
}

.menuItem {
  padding: 10px 25px;
  font-weight: bold;
}

.menuToggle {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 32px;
    height: 32px;
  }

  @include media-up($break-md) {
    display: none;
  }
}
