.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  padding: 30px 40px;

  color: $color-gray-dark;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
  &-main {
    box-shadow: none;
    color: $color-black;
  }
  font-size: 22px;
  @include media-down($break-xxl) {
    font-size: 14px;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  li:hover {
    color: $color-main;
  }
}

.content {
  z-index: 99999;
}